<div>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                        <h2>In the following Form you can send your Position</h2>
                    </div>
                    <Form>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" type="text" placeholder="Jane Doe" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Street</label>
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Post Code</label>
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <button type="submit" class="btn btn-success btn-lg">Submit</button>
                        </div>
                    </Form>
                </div>
            </div>
        </div>
    </div>
</div>

