<div class="app-header">
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Geocaching <small>Webapp</small></h1>
      </div>
    </div>
  </div>
</div>
<div class="body">
    {{outlet}}
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          made for research only
        </div>
      </div>
    </div>
  </div>
</div>